body {

    background-color: #39A2DB;
    text-align: center;
}

.heart {
    width: 100%;
}

h1 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 5rem;
}
